<p>Показан список страниц вики; <a href='/admin/nodes'>показать все документы</a>?</p>

<table class="table lines nodes hover">
    <thead>
        <tr>
            <th class='rowid'>#</th>
            <th>Название</th>
            <th/>
            <th><i title='Документ виден на сайте' class="fas fa-eye"></i></th>
            <th><i title='Удалить документ' class="fas fa-trash-alt"></i></th>
            <th>Создан</th>
        </tr>
    </thead>
    <tbody>
        {% for n in nodes %}
            <tr class='{% if n.published %}published{% else %}unpublished{% endif %}{% if request.get.edited == n.id %} edited{% endif %}'>
                <td class="rowid">{{ n.id }}</td>
                <td><a href="/admin/nodes/{{ n.id }}/edit?back={{ request.uri }}">{{ n.name }}</a></td>
                <td>{{ n.url }}</td>
                <td class='check'>{% if n.id != user.id %}<input class='published' type='checkbox' name='id' value='{{ n.id }}' autocomplete='off'{% if n.published %} checked{% endif %}/>{% endif %}</td>
                <td class='check'>{% if n.id != user.id %}<input class='deleted' type='checkbox' name='id' value='{{ n.id }}' autocomplete='off'{% if n.deleted %} checked{% endif %}/>{% endif %}</td>
                <td class='nowrap'>{{ n.created|date_simple }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
