{% extends "base.twig" %}

{% block page_title %}Блог о жизни в деревне{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Блог о жизни в деревне</h1>
        <p class='lead'>История горожан, переехавших в вымершую деревню во Псковской области.&nbsp; Важные события, интересные моменты, работа питомника — всё описано здесь.</p>
    </div>
{% endblock %}

{% block body_class %}blog{% endblock %}

{% block page_contents %}
    <div><a class="youtube right" href="https://youtu.be/bWZgzEzs3_I" target="_blank"><img width="320" src="/images/land_welcome.jpg" alt="Видео"/></a></div>

    <p class='lastentry'>Последняя запись: «<a href='{{ entries[0].link }}'>{{ entries[0].title }}</a>»</p>

    <p>Привет!  Мы — Владимир и Юлия Фрунзе, в апреле 2012 года уехали из Питера в молодое <a href='https://www.chistoe-nebo.info/'>экопоселение Чистое небо</a>.  Здесь мы построили дом, родили сына, организовали небольшой <a href='/nursery/' title='Лесной питомник «Ясный лес»'>семейный лесопитомник</a>, в котором растим деревья.  Никакого специального опыта у нас до этого не было.  Наша история в сжатом виде есть на <a href='/about/' title='Наша история'>отдельной странице</a>.</p>
    <p>В этом блоге мы рассказываем о нашей новой жизни.  Мы стараемся делать это по существу и максимально информативно.  Если вы подумываете о переезде на землю — этот блог, в первую очередь, для вас.  Если вы здесь впервые — мы подготовили <a href='/faq/'>ответы на часто задаваемые вопросы</a>, для постоянных читателей есть <a href='/blog/subscribe/'>почтовая рассылка</a>.  Здесь мы описываем более-менее законченные события.  Повседневные заметки ведём в нашей группе <a href='https://vk.com/umonkey.land'>Жизнь в деревьях</a> в контакте.</p>
    <p>Для желающих окунуться в наш мир у нас есть <a href='/volunteer/'>волонтёрская программа</a>.  Это активный отдых на природе, питание и проживание за наш счёт, получите опыт работы с растениями.  Приезжайте!</p>

    <table class='blog'>
        <tbody>
            {% for e in entries %}
                <tr>
                    <td>{{ e.created|date('%d.%m.%y') }}</td>
                    <td><a href='{{ e.link }}'>{{ e.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
