<?xml version='1.0' encoding='UTF-8'?>
<rss version='2.0' xmlns:atom='http://www.w3.org/2005/Atom' xmlns:itunes='http://www.itunes.com/dtds/podcast-1.0.dtd'>
    <channel>
        <atom:link href='https://sebezh-gid.ru/wiki/files.rss' rel='self' type='application/rss+xml'/>
        <language>ru-RU</language>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <generator>{{ host }}</generator>
        <link>https://sebezh-gid.ru/wiki/files</link>
        <title>Файлы из гида по Себежу</title>
        <pubDate>{{ last_update|date_rfc }}</pubDate>
        <lastBuildDate>{{ last_update|date_rfc }}</lastBuildDate>
        {% for file in files %}
            <item>
                <pubDate>{{ file.created|date_rfc }}</pubDate>
                <title>{{ file.title }}</title>
                {% if file.kind == "photo" %}
                    <description><![CDATA[<img src="https://sebezh-gid.ru/i/photos/{{ file.id }}.jpg" alt="{{ file.title }}"/>]]></description>
                {% else %}
                    <description>no description</description>
                {% endif %}
                <link>https://sebezh-gid.ru/wiki?name=File:{{ file.id }}</link>
                <guid>{{ host }}:file:hash={{ file.hash }}</guid>
                <enclosure url='https://sebezh-gid.ru/files/{{ file.id }}/download' type='{{ file.type }}' length='{{ file.length }}' />
            </item>
        {% endfor %}
    </channel>
</rss>
