{% extends "base.twig" %}

{% block page_title %}artwall.pro{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Ваши файлы</h1>
    </div>
{% endblock %}

{% block page_contents %}
    {% if request.get.status == 'waiting' %}
        <p class='notice'>Картина отправлена модератору.&nbsp; Вы можете пока загрузить ещё одну.</p>
    {% endif %}

    {% include "parts/upload.twig" %}

    {% if pictures %}
        <table class="table lines hover queue">
            <thead>
                <tr>
                    <th/>
                    <th>Название</th>
                    <th>Статус</th>
                    <th>Добавлена</th>
                    <th class="number">Комиссия</th>
                    <th class="number">К выплате</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                {% for n in pictures %}
                    <tr class="status_{{ n.status }}">
                        <td>{% if n.file %}<a data-fancybox="gallery" data-src="{{ file_link(n.file, "large") }}" class="img" href="{{ file_link(n.file) }}" target="_blank"><img src="{{ file_link(n.file, "small") }}" /></a>{% endif %}</td>
                        <td>{% if n.title %}{{ n.title }}{% else %}без названия{% endif %}</td>
                        <td>{% include "parts/status.twig" with {status: n.status} %}</td>
                        <td>{{ n.created|date('%d.%m.%Y') }}</td>
                        <td class="number">{% if n.comission %}{{ n.comission }}{% else %}нет{% endif %}</td>
                        <td class="number">{% if n.payout %}{{ n.payout }}{% else %}0{% endif %}</td>
                        <td>
                            <a class='btn btn-default btn-icon' href='/node/{{ n.id }}/edit?back={{ request.uri }}'><i title='Удалить картину' class="fas fa-edit"></i></a>
                            <a data-id='{{ n.id }}' href='#' class='btn btn-default btn-icon picture-delete' title='Удалить картину'><i title='Удалить картину' class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
