{% extends "base.twig" %}

{% block page_title %}Просмотр — artwall.pro{% endblock %}

{% block page_header %}
    <div class="page-header">
        {% if node.type == 'user' %}
            <h1>Профиль пользователя {{ node.name }}</h1>
        {% elseif node.type == 'picture' %}
            <h1>{{ node.title }}</h1>
        {% else %}
            <h1>Просмотр работы №{{ node.id }}</h1>
        {% endif %}
    </div>
{% endblock %}

{% block page_contents %}
    {% if node.type == "user" %}
        {% include "parts/breadcrumbs.twig" %}

        <table class="table grid">
            <tbody>
                <tr>
                    <td>ФИО:</td>
                    <td>{{ node.name }}</td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td>{{ node.phone }}</td>
                </tr>
                <tr>
                    <td>Почта:</td>
                    <td>{{ node.email }}</td>
                </tr>
                <tr>
                    <td>Паспортные данные:</td>
                    <td>{% if node.passport %}{{ node.passport }}{% else %}не указаны{% endif %}</td>
                </tr>
                <tr>
                    <td>Реквизиты для оплаты:</td>
                    <td>{% if node.payout_account %}{{ node.payout_account }}{% else %}не указаны{% endif %}</td>
                </tr>
            </tbody>
        </table>

        {% if user.role == "admin" %}
            <div class="actions">
                <a class="btn btn-default" href="/node/{{ node.id }}/edit">Редактировать</a>
            </div>
        {% else %}
            <div class="actions">
                <a class="btn btn-default" href="/node/{{ node.id }}/edit">Редактировать</a>
            </div>
        {% endif %}
    {% elseif node.type == "picture" %}
        {% include "parts/breadcrumbs.twig" %}

        <div class="twocol">
            <div class="col">
                <a href="{{ file_link(node.file) }}"><img src="{{ file_link(node.file, "small") }}"/></a>
            </div>
            <div class="col">
                <table class="table grid wide">
                    <tbody>
                        <tr>
                            <th>Название:</th>
                            <td class="wide">{{ node.title }}</td>
                        </tr>
                        <tr>
                            <th>Описание:</th>
                            <td>{{ node.description }}{% if not node.description %}нет{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Размер:</th>
                            <td>{{ node.file.width }}×{{ node.file.height }} px</td>
                        </tr>
                        <tr>
                            <th>Комиссия:</th>
                            <td>{% if node.comission %}{{ node.comission }}{% else %}не указана{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Состояние:</th>
                            <td>{% include "parts/status.twig" with {"status": node.status} %}</td>
                        </tr>
                        {% if node.modmsg %}
                            <tr>
                                <th>Сообщение модератора:</th>
                                <td>{{ node.modmsg }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    {% if user.role != "admin" %}
                        <tfoot>
                            <tr>
                                <th/>
                                <td><a class="btn btn-default" href="/node/{{ node.id }}/edit" style="margin-left: -10px; margin-top: 10px">Редактировать</a></td>
                            </tr>
                        </tfoot>
                    {% endif %}
                </table>

                {% if user.role == "admin" %}
                    <hr/>

                    <form method="post" class="async" action="/node/save">
                        <input type="hidden" name="node[id]" value="{{ node.id }}"/>

                        <div class="form-group">
                            <label>Изменить состояние:</label>
                            <select class="form-control" name="node[status]" autocomplete="off">
                                <option value="0">вернуть в черновики</option>
                                <option value="1" selected>оставить как есть</option>
                                <option value="2">отклонить с концами</option>
                                <option value="3">взять в работу</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Сообщение автору:</label>
                            <textarea class="form-control" name="node[modmsg]">{{ node.modmsg }}</textarea>
                        </div>

                        <div class="form-actions">
                            <button class="btn btn-default">Сохранить</button>
                            <a class="btn btn-default" href="/node/{{ node.id }}/edit?back={{ request.path }}">Редактировать</a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    {% else %}
        <section class="block news">
            {% for node in news %}
                <div class="item">
                    {% if node.type == "user" %}
                        <a class="img" href="/node/{{ node.id }}">
                            <img src="{{ file_link(node.file, "small") }}" alt=""/>
                        </a>
                        <div class="meta">
                            <div class="title"><a href="/node/{{ node.id }}">{{ node.email }}</a></div>
                            <div class="role">Роль: {% if node.role %}{{ node.role }}{% else %}user{% endif %}</div>
                        </div>
                    {% else %}
                        <a class="img" href="/node/{{ node.id }}">
                            <img src="{{ file_link(node.file, "small") }}" alt=""/>
                        </a>
                        <div class="meta">
                            <div class="title"><a href="/node/{{ node.id }}">{{ node.title }}</a></div>
                            {% if node.author %}
                                <div class="author">Автор: {{ node.author }}.</div>
                            {% endif %}
                            <div class="status">{% include "parts/status.twig" with {"status": node.status} %}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            {% if not news %}
                <p>Извините, здесь пусто.</p>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}
