{% extends "base.twig" %}

{% block page_title %}artwall.pro{% endblock %}

{% block page_header %}
    <div class="page-header">
        {% if node.type == 'user' %}
            <h1>Редактирование профиля пользователя</h1>
        {% elseif node.type == 'picture' %}
            <h1>Редактирование свойств картины</h1>
        {% else %}
            <h1>Редактирование ноды</h1>
        {% endif %}
    </div>
{% endblock %}

{% block page_contents %}
    {% if node.type == "user" %}
        <form class="async" action="/node/save" method="post">
            <input type="hidden" name="next" value=""/>

            <input type="hidden" name="node[id]" value="{{ node.id }}"/>
            <div class="form-group">
                <label>ФИО:</label>
                <input class="form-control" type="text" name="node[name]" value="{{ node.name }}"/>
                <p class="help-block">Так оно будет отображено на сайте.</p>
            </div>
            <div class="form-group">
                <label>Телефон:</label>
                <input class="form-control" type="text" name="node[phone]" value="{{ node.phone }}"/>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" type="text" name="node[email]" value="{{ node.email }}"/>
                <p class="help-block">Используется для входа и восстановления пароля.</p>
            </div>
            <div class="form-group">
                <label>Паспортные данные:</label>
                <textarea class="form-control" name="node[passport]">{{ node.passport }}</textarea>
            </div>
            <div class="form-group">
                <label>Реквизиты для выплаты:</label>
                <textarea class="form-control" name="node[payout_account]">{{ node.payout_account }}</textarea>
            </div>
            {% if user.role == "admin" %}
                <div class="form-group">
                    <label>Роль:</label>
                    <input class="form-control" type="text" name="node[role]" value="{{ node.role }}"/>
                    <p class="help-block">Возможные варианты: admin, user.</p>
                </div>
            {% endif %}
            <div class="form-actions">
                <button class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    {% elseif node.type == "picture" %}
        <div class="twocol">
            <div class="col">
                <form class="async" action="/node/save" method="post">
                    {% if user.role == 'admin' %}
                        <input type="hidden" name="next" value="{{ request.get.back }}"/>
                    {% else %}
                        <input type="hidden" name="next" value="/my?status=waiting"/>
                    {% endif %}
                    <input type="hidden" name="node[id]" value="{{ node.id }}"/>
                    <div class="form-group">
                        <label>Название работы:</label>
                        <input class="form-control wide" type="text" name="node[title]" value="{{ node.title }}"/>
                    </div>
                    <div class="form-group">
                        <label>Описание работы:</label>
                        <textarea class="form-control" name="node[description]">{{ node.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Комиссия, руб:</label>
                        <input class="form-control" type="number" min="0" name="node[comission]" value="{{ node.comission }}"/>
                    </div>
                    <div class="form-group">
                        <label>Категории:</label>
                        <div id="catresults" class="results">
                            {% for c in categories %}
                                <div class="item">
                                    <u>×</u>
                                    <input type="hidden" name="node[categories][]" value="{{ c.id }}"/>
                                    <span>{{ c.name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <input id="catsearch" class="form-control" type="text" name="search" placeholder="Добавить категорию..." autocomplete="off" list="catlist"/>
                    </div>

                    {% if user.role == 'admin' %}
                        <div class="form-group">
                            <label>Состояние:</label>
                            <select class="form-control" name="node[status]">
                                <option value="0"{% if node.status == 0 %} selected{% endif %}>черновик</option>
                                <option value="1"{% if node.status == 1 %} selected{% endif %}>на модерации</option>
                                <option value="2"{% if node.status == 2 %} selected{% endif %}>отклонено</option>
                                <option value="3"{% if node.status == 3 %} selected{% endif %}>в работе</option>
                            </select>
                        </div>
                    {% else %}
                        <input type='hidden' name='node[status]' value='1'/>
                    {% endif %}

                    <p class="msgbox"></p>
                    <div class="form-actions">
                        {% if user.role == 'admin' %}
                            <button class="btn btn-primary">Сохранить</button>
                        {% else %}
                            <button class="btn btn-primary">Отправить на модерацию</button>
                        {% endif %}
                        {% if request.get.back %} или <a href="{{ request.get.back }}">вернуться назад</a>{% endif %}
                    </div>
                </form>
            </div>
            <div class="col">
                <a href="{{ file_link(node.file) }}" data-fancybox='gallery' data-src='{{ file_link(node.file, 'large') }}' target="_blank"><img src="{{ file_link(node.file, "small") }}"/></a>
            </div>
        </div>
    {% else %}
        <section id="node_editor" class="block">
            <form class="container async" method="post">
                <div class="form-group">
                    <label>Содержимое ноды:</label>
                    <textarea class="form-control code" name="node" rows="20">{{ text }}</textarea>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary">Сохранить</button>
                </div>

                <p class="msgbox" style="display: none"></p>
            </form>
        </section>
    {% endif %}
{% endblock %}
