{% extends "base.twig" %}

{% block page_title %}Новые — artwall.pro{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Новые картины</h1>
    </div>
{% endblock %}

{% block page_contents %}
    {% if user.role == 'admin' %}
        <p>Настройки: <a href='/admin/nodes/55/edit?back={{ request.uri }}'>приветствие</a></p>
    {% endif %}

    {% if nodes %}
        <table class="table lines hover queue compact">
            <thead>
                <tr>
                    <th/>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Размер</th>
                    <th class="number">Комиссия</th>
                    <th>Добавлена</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                {% for n in nodes %}
                    <tr class="x_status_{{ n.status }}">
                        <td><a class="img" href="{{ file_link(n.file) }}" target="_blank" data-fancybox='gallery' data-src='{{ file_link(n.file, 'large') }}'><img src="{{ file_link(n.file, 'small', '/images/no-thumbnail.png') }}" /></a></td>
                        <td><a href="/node/{{ n.id }}/edit?back={{ request.uri }}">{{ n.title }}</a></td>
                        <td>{% if n.author %}<a href="/node/{{ n.author.id }}">{{ n.author.name }}</a>{% else %}(нет данных){% endif %}</td>
                        <td>{{ n.file.width }}×{{ n.file.height }}</td>
                        <td class="number">{{ n.comission }}</td>
                        <td>{{ n.created|date('%d.%m.%Y') }}</td>
                        <td>
                            <a class='btn btn-default btn-icon' href='/node/{{ n.id }}/edit?back={{ request.uri }}'><i title='Редактировать картину' class="fas fa-edit"></i></a>
                            <a data-id='{{ n.id }}' href='#' class='btn btn-default btn-icon picture-delete' title='Удалить картину'><i title='Удалить пользователя' class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет новых картин на модерации.</p>
    {% endif %}
{% endblock %}
