{% extends "base.twig" %}

{% block page_title %}Список всех страниц{% endblock %}

{% block page_h1 %}Список всех страниц{% endblock %}

{% block page_contents %}
    <table class="table grid">
        <thead>
            <tr>
                <th><a href="/index">Название</a></th>
                <th><a href="/index?sort=updated">Изменение</a></th>
                <th><a href="/index?sort=length">Размер</a></th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>
                        <a href="/wiki?name={{ page.name }}">{{ page.name }}</a>
                    </td>
                    <td dat-value="{{ page.updated }}">{{ page.updated|date_simple }}</td>
                    <td class="number">{{ page.length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
