{% extends "base.twig" %}

{% block page_title %}Модерация — artwall.pro{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Модерация</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <section class="block">
        {% if pictures %}
            {% for pic in pictures %}
                <div class="picture">
                    <a href="/node/{{ pic.id }}/edit">
                        <img src="{{ file_link(pic.file, "small") }}" alt=""/>
                    </a>
                    <div class="meta">
                        <div class="title"><a href="/node/{{ pic.id }}/edit">{{ pic.title }}</a></div>
                        {% if pic.status and pic.status != "0" %}
                            <div class="status">{{ pic.status }}</div>
                        {% else %}
                            <div class="status">На рассмотрении модератора.</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% if tab == "accepted" %}
                <p>Нет работ, одобренных модератором.</p>
            {% elseif tab == "waiting" %}
                <p>Нет работ, ожидающих модерации.</p>
            {% elseif tab == "rejected" %}
                <p>Нет отклонённых работ.</p>
            {% else %}
                <p>Нет работ в этом разделе.</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
