{% extends "base.twig" %}

{% block page_title %}Модерация — artwall.pro{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Картины в работе</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <section class="block news">
        {% for node in news %}
            <div class="item">
                {% if node.type == "user" %}
                    <a class="img" href="/node/{{ node.id }}">
                        <img src="{{ node.file.thumbnail }}" alt="" width="{{ node.file.twidth }}" height="{{ node.file.theight }}"/>
                    </a>
                    <div class="meta">
                        <div class="title"><a href="/node/{{ node.id }}">{{ node.email }}</a></div>
                        <div class="role">Роль: {% if node.role %}{{ node.role }}{% else %}user{% endif %}</div>
                    </div>
                {% else %}
                    <a class="img" href="/node/{{ node.id }}">
                        <img src="{{ node_link(node.file, "small") }}" alt=""/>
                    </a>
                    <div class="meta">
                        <div class="title"><a href="/node/{{ node.id }}">{{ node.title }}</a></div>
                        {% if node.author %}
                            <div class="author">Автор: {{ node.author }}.</div>
                        {% endif %}
                        <div class="status">{% include "parts/status.twig" with {"status": node.status} %}</div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        {% if not news %}
            {% if tab == "pictures" %}
                <p>Здесь будет лента всех одобренных, взятых в работу картин.  Пока здесь пусто.</p>
            {% else %}
                <p>Извините, здесь пусто.</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
