{% extends "base.twig" %}

{% block more_head %}
    <link rel="edit" title="Редактировать страницу" href="/map/add"/>
    <link rel="alternate" type="application/x-wiki" title="Редактировать страницу" href="/map/add"/>
    <meta name="robots" content="noindex"/>
{% endblock %}

{% block page_title %}Карты — {{ strings_ru.site_name }}{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Карты</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <div class="twocol">
        <div class="col">
            <table class="table grid pois">
                <tbody>
                    {% for p in poi %}
                        <tr>
                            <td class="rowid">{{ p.id }}</td>
                            <td>{% if p.link %}<a href="{{ p.link }}">{{ p.title }}</a>{% else %}{{ p.title }}{% endif %}</td>
                            <td><a href="/map/edit?id={{ p.id }}">edit</a></td>
                            <td class="number">{{ p.lat }}</td>
                            <td class="number">{{ p.lng }}</td>
                            <td class="tags">{{ p.tags }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p><a class="btn btn-primary" href="/map/add">Добавить</a></p>
        </div>

        <div class="col">
            <div id="whole_map" class="map" data-src="/map/all.json"></div>
        </div>
    </div>
{% endblock %}
