{% extends "base.twig" %}

{% block page_title %}{{ node.name }}{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>{{ node.name }}</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <div class='meta'>{{ node.created|human_date }}{% if edit_link %} &middot; <a href='{{ edit_link }}?back={{ request.uri }}'>редактировать</a>{% endif %}</div>

    <div class='formatted'>
        {{ node.text|markdown }}
    </div>

    <hr/>

    <div id='disqus_thread'>Комментарии загружаются...</div>
{% endblock %}
