{% extends "base.twig" %}

{% block page_title %}Просмотр — artwall.pro{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Модерация работы №{{ node.id }}</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <form class="picture_editor async" method="post">
        <div class="row twocol">
            <div class="col lcol">
                <div class="form-group">
                    <label>Название:</label>
                    <input class="form-control wide" type="text" name="form[title]" value="{{ node.title }}"/>
                </div>

                <div class="form-group">
                    <label>Автор:</label>
                    <input class="form-control wide" type="text" name="form[author]" value="{{ node.author }}"/>
                </div>

                <div class="form-group">
                    <label>Комиссия:</label>
                    <input class="form-control" type="number" name="form[comission]" value="{% if node.comission %}{{ node.comission }}{% else %}1{% endif %}" min="0" max="100"/>
                </div>

                <div class="form-group">
                    <label>Расширенное описание:</label>
                    <textarea class="form-control" name="form[description]">{{ node.description }}</textarea>
                </div>

                <div class="form-group">
                    <label>Ваше решение:</label>
                    <label class="form-control radio"><input type="radio" name="action" value="" checked/> оставить как есть</label>
                    <label class="form-control radio"><input type="radio" name="action" value="1"/> отклонить: плохие тексты</label>
                    <label class="form-control radio"><input type="radio" name="action" value="2"/> отклонить: плохое качество изображения</label>
                    <label class="form-control radio"><input type="radio" name="action" value="3"/> принять к публикации</label>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </div>

            <div class="col rcol">
                <img src="{{ file_link(node.file, "small") }}"/>
                <p class="help-block">Размер: {{ node.file.width }}×{{ node.file.height}} пикселей.</p>
            </div>
        </div>
    </form>
{% endblock %}
