{% extends "base.twig" %}

{% block page_title %}Добавление картины{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Добавление картины</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <div class="simg" >
        {% if file.files.small %}
            <a href="{{ file_link(file) }}" target="_blank"><img src="{{ file_link(file, 'small', '/images/no-thumbnail.png') }}" width="{{ file.files.small.width }}" height="{{ file.files.small.height }}"/></a>
        {% else %}
            <img class='picture' src='/images/no-thumbnail.png' height='150'/>
            <p class='help-block'>(Изображение обрабатывается, появится чуть позже.)</p>
        {% endif %}
    </div>

    <form class="async" action="/node/save" method="post">
        <input type="hidden" name="node[type]" value="picture"/>
        <input type="hidden" name="node[file]" value="{{ file.id }}"/>
        <input type="hidden" name="node[author]" value="{{ user.id }}"/>
        <input type="hidden" name="node[status]" value="1"/>
        <input type='hidden' name='next' value='/my?status=waiting'/>

        <div class="form-group">
            <label>Название работы:</label>
            <input class="form-control wide" type="text" name="node[title]" value="" autocomplete="off" required/>
        </div>
        <div class="form-group">
            <label>Описание работы:</label>
            <textarea class="form-control" name="node[description]"></textarea>
        </div>
        <div class="form-group">
            <label>Комиссия, руб:</label>
            <input class="form-control" type="number" min="0" name="node[comission]" value=""/>
        </div>
        <div class="form-group">
            <label>Категории:</label>
            <div id="catresults" class="results"></div>
            <input id="catsearch" class="form-control" type="text" name="search" placeholder="Поиск по названию..." autocomplete="off" list="catlist"/>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary">Отправить на модерацию</button>
        </div>
        <div class="msgbox"></div>
    </form>
{% endblock %}
