<p>Показан список записей в блоге; <a href='/admin/nodes/article'>показать статьи</a>?</p>

<table class="table lines nodes">
    <thead>
        <tr>
            <th class='rowid'>#</th>
            <th><a href='{{ request.get.path }}?sort=title'>Название</a></th>
            <th><i title='Документ виден на сайте' class="fas fa-eye"></i></th>
            <th><i title='Удалить документ' class="fas fa-trash-alt"></i></th>
            <th><a href='{{ request.get.path }}?sort=date'>Создан</a></th>
            <th/>
        </tr>
    </thead>
    <tbody>
        {% for n in nodes %}
            <tr class='{% if n.published %}published{% else %}unpublished{% endif %}{% if request.get.edited == n.id %} edited{% endif %}'>
                <td class="rowid">{{ n.id }}</td>
                <td><a href="/admin/nodes/{{ n.id }}/edit">{{ n.name }}</a></td>
                <td class='check'>{% if n.id != user.id %}<input class='published' type='checkbox' name='id' value='{{ n.id }}' autocomplete='off'{% if n.published %} checked{% endif %}/>{% endif %}</td>
                <td class='check'>{% if n.id != user.id %}<input class='deleted' type='checkbox' name='id' value='{{ n.id }}' autocomplete='off'{% if n.deleted %} checked{% endif %}/>{% endif %}</td>
                <td>{{ n.created|date('%d.%m.%y') }}</td>
                <td><a class='btn btn-default btn-icon' href='/node/{{ n.id }}'><i class='fas fa-sign-out-alt'></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
